body {
    font-family: Arial, sans-serif;
    background-color: rgba(17, 5, 71, 0.925);
} 
header {
    background-image: url(5072612.jpg);
    
    padding: 10px 15px;
    margin-left: 150px;
    padding-top: 10px;
    border-radius: 20px;
    height: 35px;
}
.nam {
    color: #FF00FF;
    
}
.onwan {
    
    margin-left: 45px;
    margin-top: -1px;
    color: #ffffff;
    width: 200px;
}
.menu {
    list-style: none;
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
   
}
.menu a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;

}
.menu a.active, .menu a:hover {
    color: #FF00FF;
}

.menu li {
    margin-top: -20px;
    margin-left: 30px;
    font-weight: bold;
    color: #ffffff;
}

.tartib1{
    position: absolute;
    top: 50px;
    width: 1220px;
    margin-left: -200px;
}
nav{
    margin-top: -55px;
    width: 140px;
    height: 575px;
    background-image: url(5072612.jpg);
    border-radius: 20px;
}
.meme{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;

}
.na{
    color: #ffffff;
    margin-left: 5px;
    font-weight: bold;
    margin-top: 10px;
}
.cs{
    background-color: #FF00FF;
    border-radius: 5px;
    margin-left: 30px;
    padding-left: 2px;
    padding-right: 2px;
    
    
}
.star{
    color: #ffffff;
}
.star1{
    color: #ffffff;
    width: 100px;
}
.follow{
    color: #ffffff;
    margin-left: 30px;
    padding-left: 2px;
    padding-right: 2px;
    
}
.follow1{
    color: #ffffff;
    margin-left: 27px;
    padding-left: 2px;
    padding-right: 2px;
    
}
.follow2{
    color: #ffffff;
    margin-left: 18px;
    padding-left: 2px;
    padding-right: 2px;
    
}
.instagram{
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 50px;
}
.hello{
    padding-top: 25px;
    padding-left: 500px;
    color: #FF00FF;
    font-weight: bold;
    font-size: 50px;
    width: 450px;

    
}
.hello1{
    padding-top: -10px;
    padding-left: 65px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    width: 450px;

    
}
.art{
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image: url(5072612.jpg);
    background-position: center;
    background-size: cover;
    width: 1113px;
    height: 510px;
    margin-left: 150px;
    margin-top: -560px;
}
.cv{
    padding-left: 10px;
    
    margin-left: 750px;
    background-color: #FF00FF;
    border-radius: 20px;
    height: 50px;
    width: 300px;
    position: fixed;
    top: 350px;
    font-size: 25px;
    color: #2c2c54;
}
.footer{
    margin-top: 10px;

    background-image: url(5072612.jpg);
    color: #FF00FF;
    height: 60px;
    border-radius: 20px;

}
.pipi{
    margin-left: 450px;
    margin-top: 10px;
    padding-top: 18px;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FF00FF;

}
.roro{
    color: #FF00FF;
}
.lang{ 
    padding-left: 180px;
    color: #ffffff;
}
.Languages{
    border: #171781 solid 3px;
    background-color: #1d07588c;
    width: 300px;
    height: 250px;
    padding-top: 1px;
    padding-left: 35px;
    margin-left: 230px;
    margin-top: 70px;
    border-radius: 20px;
    font-size: 15px;

}
.star{

    width: 535px;
    margin-left: -35px;
}
.lis{
    color: #ffffff;
    padding-left: 1px;

}
.Web{
    border: #171781 solid 3px;
    background-color: #1d07588c;
    width: 500px;
    height: 320px;
    padding-top: 1px;
    padding-left: 35px;
    margin-left: 350px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 15px;

}

.Web {
    
    transition: transform 0.3s ease-in-out;
}


.fofo{
    transition: transform 0.3s ease-in-out;
}
.fofo:hover {
    transform: scale(1.2); 
}
.roro{
    color: #ffffff;
}
.soso{
    color: #ffffff;
}
.tha{
    color: #FF00FF;
}
.the{
text-decoration: none;
}
.bobo{
    color: #FF00FF;
}
.ana{
    color: #ffffff;
    font-size: 20px;
    padding-left: -10px;
    padding-right: 10px;
}